@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-1: #d19884;
  --color-2: #fee9e0;
  --color-3: #f0c6b4;
  --color-4: #5aa399;
  --color-5: #b4f0e8;
}

.customButton {
  @apply bg-rv-secondary hover:bg-rv-pale text-stone-700 font-bold py-1 px-2 border-b-4 border-stone-700 rounded mx-2 my-1 font-quicksand;
}

.content-container {
  @apply mx-auto 2xl:max-w-[1320px] lg:max-w-4xl md:max-w-3xl sm:max-w-2xl;
}

.header {
  @apply pt-12;
}
